@using domain.Devices.Canboard
@typeparam TDevice where TDevice : CanboardDevice

<div style="overflow-y: auto; height: calc(100vh - 250px); padding: 24px; scrollbar-width: auto; scrollbar-color: #888 transparent;">
    <MudText Typo="Typo.h6" Class="mb-2">Device</MudText>
    <MudGrid>
        <MudItem>
            <MudCard Style="height: 100%">
                <MudCardContent>
                    <MudText Typo="Typo.h6">@Device.BoardTempC.ToString("F1") °C</MudText>
                    <MudText Typo="Typo.body2">Board Temperature</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem>
            <MudCard Style="height: 100%">
                <MudCardContent>
                    <MudText Typo="Typo.h6">@Device.Heartbeat</MudText>
                    <MudText Typo="Typo.body2">Heartbeat</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>

    @* Analog Inputs *@
    @if (Device.AnalogInputs.Any())
    {
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.h6" Class="mb-2">Analog Inputs</MudText>
        <MudGrid Spacing="2">
            @foreach (var input in Device.AnalogInputs)
            {
                <MudItem>
                    <MudCard>
                        <MudCardContent>
                            <MudStack AlignItems="AlignItems.Center" Spacing="1">
                                <MudText Typo="Typo.body1">@input.Name</MudText>
                                <MudText Typo="Typo.body2">@input.Millivolts.ToString("F1") mV</MudText>
                                <MudText Typo="Typo.body2">Rotary: @input.Rotary.Pos</MudText>
                                <MudChip T="string" Variant="Variant.Outlined"
                                         Color="@(input.Switch.State ? Color.Success : Color.Default)"
                                         Size="Size.Small" Style="min-width: 100px;">
                                    Digital: @(input.Switch.State ? "ON" : "OFF")
                                </MudChip>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }

    @* Digital Inputs *@
    @if (Device.DigitalInputs.Any())
    {
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.h6" Class="mb-2">Digital Inputs</MudText>
        <MudGrid Spacing="2">
            @foreach (var input in Device.DigitalInputs)
            {
                <MudItem>
                    <MudCard>
                        <MudCardContent>
                            <MudStack AlignItems="AlignItems.Center" Spacing="1">
                                <MudText Typo="Typo.body1">@input.Name</MudText>
                                <MudChip T="string" Variant="Variant.Outlined"
                                         Color="@(input.State ? Color.Success : Color.Default)"
                                         Size="Size.Small" Style="min-width: 100px;">
                                    @(input.State ? "ON" : "OFF")
                                </MudChip>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }

    @* Digital Outputs *@
    @if (Device.DigitalOutputs.Any())
    {
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.h6" Class="mb-2">Digital Outputs</MudText>
        <MudGrid Spacing="2">
            @foreach (var output in Device.DigitalOutputs)
            {
                <MudItem>
                    <MudCard>
                        <MudCardContent>
                            <MudStack AlignItems="AlignItems.Center" Spacing="1">
                                <MudText Typo="Typo.body1">@output.Name</MudText>
                                <MudChip T="string" Variant="Variant.Outlined"
                                         Color="@(output.State ? Color.Success : Color.Default)"
                                         Size="Size.Small" Style="min-width: 100px;">
                                    @(output.State ? "ON" : "OFF")
                                </MudChip>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }
    
    @* CAN Inputs *@
    @if (Device.GetCanInputs().Any())
    {
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.h6" Class="mb-2">CAN Inputs</MudText>
        <MudGrid Spacing="2">
            @foreach (var (input, _) in Device.GetCanInputs().Select((i, idx) => (i, idx)))
            {
                <MudItem>
                    <MudCard Class="@(input.Enabled ? "" : "card-disabled")">
                        <MudCardContent>
                            <MudStack AlignItems="AlignItems.Center" Spacing="1">
                                <MudText Typo="Typo.body1">@input.Name</MudText>
                                <MudChip T="string" Variant="Variant.Outlined"
                                         Color="@(input.Output ? Color.Success : Color.Default)"
                                         Size="Size.Small" Style="min-width: 100px;">
                                    @input.Value
                                </MudChip>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }

    @* Virtual Inputs *@
    @if (Device.GetVirtualInputs().Any())
    {
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.h6" Class="mb-2">Virtual Inputs</MudText>
        <MudGrid Spacing="2">
            @foreach (var (input, _) in Device.GetVirtualInputs().Select((i, idx) => (i, idx)))
            {
                <MudItem>
                    <MudCard Class="@(input.Enabled ? "" : "card-disabled")">
                        <MudCardContent>
                            <MudStack AlignItems="AlignItems.Center" Spacing="1">
                                <MudText Typo="Typo.body1">@input.Name</MudText>
                                <MudChip T="string" Variant="Variant.Outlined"
                                         Color="@(input.Value ? Color.Success : Color.Default)"
                                         Size="Size.Small" Style="min-width: 100px;">
                                    @(input.Value ? "ON" : "OFF")
                                </MudChip>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }

    @* Condition *@
    @if (Device.GetConditions().Any())
    {
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.h6" Class="mb-2">Conditions</MudText>
        <MudGrid Spacing="2">
            @foreach (var (condition, _) in Device.GetConditions().Select((i, idx) => (i, idx)))
            {
                <MudItem>
                    <MudCard Class="@(condition.Enabled ? "" : "card-disabled")">
                        <MudCardContent>
                            <MudStack AlignItems="AlignItems.Center" Spacing="1">
                                <MudText Typo="Typo.body1">@condition.Name</MudText>
                                <MudChip T="string" Variant="Variant.Outlined"
                                         Color="@(condition.Value > 0 ? Color.Success : Color.Default)"
                                         Size="Size.Small" Style="min-width: 100px;">
                                    @condition.Value
                                </MudChip>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }

    @* Counter *@
    @if (Device.GetCounters().Any())
    {
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.h6" Class="mb-2">Conditions</MudText>
        <MudGrid Spacing="2">
            @foreach (var (counter, _) in Device.GetCounters().Select((i, idx) => (i, idx)))
            {
                <MudItem>
                    <MudCard Class="@(counter.Enabled ? "" : "card-disabled")">
                        <MudCardContent>
                            <MudStack AlignItems="AlignItems.Center" Spacing="1">
                                <MudText Typo="Typo.body1">@counter.Name</MudText>
                                <MudChip T="string" Variant="Variant.Outlined"
                                         Color="@(counter.Value > 0 ? Color.Success : Color.Default)"
                                         Size="Size.Small" Style="min-width: 100px;">
                                    @counter.Value
                                </MudChip>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }

    @* Flasher *@
    @if (Device.GetFlashers().Any())
    {
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.h6" Class="mb-2">Flashers</MudText>
        <MudGrid Spacing="2">
            @foreach (var (flasher, _) in Device.GetFlashers().Select((i, idx) => (i, idx)))
            {
                <MudItem>
                    <MudCard Class="@(flasher.Enabled ? "" : "card-disabled")">
                        <MudCardContent>
                            <MudStack AlignItems="AlignItems.Center" Spacing="1">
                                <MudText Typo="Typo.body1">@flasher.Name</MudText>
                                <MudChip T="string" Variant="Variant.Outlined"
                                         Color="@(flasher.Value ? Color.Success : Color.Default)"
                                         Size="Size.Small" Style="min-width: 100px;">
                                    @(flasher.Value ? "ON" : "OFF")
                                </MudChip>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }
    
</div>

@code {
    [Parameter, EditorRequired] public TDevice Device { get; set; } = null!;
}
